#header{
    min-width: 640px;
}

#content {
    background-color: #fabc60;
}

#container {
    margin: 0 auto;
}

#bgBox {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

#bgBox #imgGroup {
    height: auto;
    position: absolute;
    -webkit-transition: all 0s linear 0s;
    -ms-transition: all 0s linear 0s;
    -moz-transition: all 0s linear 0s;
    transition: all 0s linear 0s;
}

#imgGroup img {
    height: 360px;
    width: auto;
}

@media only screen and (max-width: 1300px) {
    #imgGroup img {
        height: 300px;
    }
}

@media only screen and (max-width: 1130px) {
    #imgGroup img {
        height: 270px;
    }
}

@media only screen and (max-width: 1000px) {
    #imgGroup img {
        height: 240px;
    }
}


#imgGroup>li {
    float: left;
}

#main {
    height: 160px;
    position: relative;
    background-color: #fabc60;
}

#main #mainLeft {
    position: absolute;
    margin-left: -60px;
    margin-top: -120px;
}

#mainLeft img {
    height: 240px;
}

#mainRight {
    position: absolute;
    left: 230px;
}

#mainRight .descriptionUp {
    height: 82px;
    margin-top: -12px;
    margin-left: 8px;
}

.descriptionUp>li {
    width: 235px;
    height: 82px;
    float: left;
    margin-right: 105px;
    border-radius: 30px 30px 30px 0;
    padding: 5px;
    font-size: 16px;
    opacity: 0;
}


#mainRight #timeBar {
    height: 10px;
}

#timeBar #timeLine {
    width: 0;
    height: 7px;
    border-radius: 20px;
    background-color: white;
    margin-top: 16px;
}

#timeBar #timeDot {
    margin-top: -11px;
    height: 1px;
}

#timeDot>li {
    width: 13px;
    height: 13px;
    float: left;
    margin-right: 160px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: steelblue;
    display: none;
}

.descriptionDown {
    height: 82px;
    margin-top: 3px;
}

.descriptionDown>li:first-child {
    width: 230px;
    height: 82px;
    float: left;
    margin-left: 183px;
    border-radius: 0 30px 30px 30px;
    padding: 5px;
    font-size: 16px;
    position: absolute;
    opacity: 0;
}

.descriptionDown>li:last-child {
    width: 230px;
    height: 82px;
    float: left;
    margin-left: 534px;
    border-radius: 0 30px 30px 30px;
    padding: 5px;
    font-size: 16px;
    position: absolute;
    opacity: 0;
}

@media only screen and (max-width: 1300px) {
    #mainRight .descriptionUp {
        height: 80px;
        margin-top: -10px;
    }

    .descriptionUp>li {
        width: 165px;
        height: 80px;
        margin-right: 95px;
        padding: 5px;
        font-size: 13px;
    }

    #timeDot>li {
        margin-right: 120px;
    }

    .descriptionDown {
        margin-top: 4px;
    }

    .descriptionDown>li:first-child {
        width: 165px;
        height: 80px;
        margin-left: 143px;
        font-size: 13px;
    }

    .descriptionDown>li:last-child {
        width: 165px;
        height: 80px;
        margin-left: 413px;
        font-size: 13px;
    }

}

@media only screen and (max-width: 1130px) {
    #mainRight {
        left: 180px;
        margin-top: -30px;
    }

    #mainRight .descriptionUp {
        height: 60px;
    }

    .descriptionUp>li {
        width: 150px;
        height: 60px;
        margin-right: 50px;
        font-size: 11.5px;
    }

    #timeDot>li {
        margin-right: 90px;
    }

    .descriptionDown>li:first-child {
        width: 150px;
        height: 60px;
        margin-left: 113px;
        font-size: 11.5px;
    }

    .descriptionDown>li:last-child {
        width: 150px;
        height: 60px;
        margin-left: 324px;
        font-size: 11.5px;
    }
}

@media only screen and (width: 1024px) and (height: 1366px) {
    #imgGroup img {
        height: 730px;
    }

    #main #mainLeft {
        margin-left: -80px;
        margin-top: -210px;
    }

    #mainLeft img {
        height: 400px;
    }

    #mainRight {
        left: 320px;
    }

    .descriptionUp>li {
        width: 190px;
        margin-right: 129px;
    }

    #timeDot>li {
        margin-right: 150px;
    }

    .descriptionDown>li:first-child {
        width: 190px;
        margin-left: 171px;

    }

    .descriptionDown>li:last-child {
        width: 190px;
        margin-left: 502px;
    }
}

@media only screen and (width: 768px) and (height: 1024px) {
    #imgGroup img {
        height: 510px;
    }

    #main #mainLeft {
        margin-left: -70px;
        margin-top: -140px;
    }

    #mainLeft img {
        height: 300px;
    }

    #mainRight {
        left: 238px;
        margin-top: -23px;
    }

    .descriptionUp>li {
        width: 146px;
        margin-right: 95px;
    }


    #timeDot>li {
        margin-right: 105px;
    }

    .descriptionDown>li:first-child {
        width: 146px;
        margin-left: 128px;
    }

    .descriptionDown>li:last-child {
        width: 146px;
        margin-left: 368px;
    }
}

.description .year {
    text-align: center;
}

#text1 {
    background-color: #d25959;
}

#text2 {
    background-color: #b0e0a8;
}

#text3 {
    background-color: #f0f69f;
}

#text4 {
    background-color: #a773c3;
}

#text1,
#text2,
#text3,
#text4 {
    color: #545454;
}

/* 文字出现动画 */
@keyframes textFrames {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.9;
    }
}

.text {
    animation-name: textFrames;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.year {
    font-weight: bold;
}

#container #btnBox {
    position: absolute;
    margin-top: -36px;
    width: auto;
}

#btnBox>input {
    background-color: white;
    border: 2px solid #1989C0;
    outline: none;
    font-size: 14px;
    color: #1989C0;
    cursor: pointer;
}

#btn0 {
    display: none;
}

#btnBox #btn1 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#btnBox #btn2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#btnBox #btn3 {
    width: 60px;
    height: 35px;
    border-radius: 30px;
}

#btnBox #btn4 {
    width: 60px;
    height: 35px;
    border-radius: 30px;
}

#btnBox .btnMove:hover,
#btn1:hover {
    background-color: #1989C0;
    color: white;
    opacity: 1;
    transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
}