* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Arial;
}

#page {
    min-width: 426px;
    height: auto;
}

#header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

#header .logo {
    height: 50px;
    border-radius: 5px 20px 5px 20px;
    background-color: #87c0cd;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.logo .logoDown {
    margin-top: -8px;
    margin-left: 20px;
}

.headNav {
    width: auto;
}

.headNav>li {
    float: left;
    margin-left: 59px;
    font-size: 20px;
    border-bottom: 3px solid transparent;
}

@media only screen and (max-width: 1000px) {
    .headNav>li {
        margin-left: 59px;
        font-size: 18px;
    }
}

.headNav>li:hover {
    border-color: #87c0cd;
}

.headNav>li>a {
    text-decoration: none;
    color: #666666;
    text-align: center;
}

#content {
    margin-left: 5%;
    margin-right: 5%;
}

@media only screen and (width: 768px) and (height: 1024px) {
    #content {
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (width: 1024px) and (height: 1366px) {
    #content {
        margin-left: 0;
        margin-right: 0;
    }
}