* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Arial;
}

#page {
    min-width: 640px;
}

#header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header .logo {
    height: 60px;
    border-radius: 5px 20px 5px 20px;
    background-color: #87c0cd;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

.logo .logoDown {
    margin-top: -5px;
    margin-left: 22px;
}

.headNav li {
    float: left;
    margin-right: 50px;
    font-size: 23px;
    border-bottom: 3px solid transparent;
}

.headNav li:hover {
    border-color: #87c0cd;
}

.headNav a {
    text-decoration: none;
    color: #666666;
}

#content {
    margin-left: 5%;
    margin-right: 5%;
}