a {
    text-decoration: none;
}

#header {
    width: 98%;
    position: fixed;
    margin-left: 1%;
    margin-right: 1%;
    z-index: 1;
    border-bottom: 1px solid #d8d8d8;
}

#content {
    position: absolute;
    top: 48px;
}

#content>div:first-child {
    height: 10px;
}

#content .textBox {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1000px) {
    #content .textBox {
        width: 75%;
    }
}

@media only screen and (max-width: 900px) {
    #content .textBox {
        width: 80%;
    }
}

@media only screen and (max-width: 700px) {
    #content .textBox {
        width: 85%;
    }
}

@media only screen and (max-device-width: 425px) {
    #content .textBox {
        width: 90%;
    }
}

#content .titleBox {
    position: fixed;
    right: 60px;
    margin-top: 100px;
    background-color: white;
}

@media only screen and (max-width: 850px) {
    #content .titleBox {
        right: 0;
    }
}

.titleBox>ul>li {
    box-sizing: border-box;
    width: 51px;
    height: 51px;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: grey;
}

@media not screen and (max-device-width: 425px) {
    .titleBox>ul>li:hover {
        background-color: #eeeeee;
    }
}

/* 浮动导航向上div */
.titleBox>ul>li:first-child {
    cursor: pointer;
}

/* 浮动导航中间div */
.titleBox>ul>li:nth-child(2) {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* 浮动导航向下div */
.titleBox>ul>li:last-child {
    border-bottom: 1px solid grey;
    cursor: pointer;
}

/* 浮动导航向上箭头 */
.titleBox>ul>li:first-child div:first-child {
    width: 0;
    height: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1px;
    border: 16px solid transparent;
    border-bottom: 16px solid #1989C0;
}

.titleBox>ul>li:first-child div:last-child {
    width: 0;
    height: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: -29px;
    border: 16px solid transparent;
    border-bottom: 16px solid white;
}

/* 浮动导航向下箭头 */
.titleBox>ul>li:last-child div:first-child {
    width: 0;
    height: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 17px;
    border: 16px solid transparent;
    border-top: 16px solid #1989C0;
}

.titleBox>ul>li:last-child div:last-child {
    width: 0;
    height: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: -35px;
    border: 16px solid transparent;
    border-top: 16px solid white;
}

/* 浮动导航中间div原点 */
.titleBox>ul>li:nth-child(2) div {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #1989C0;
}

.titleBox>ul>li:nth-child(2) .blank {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: transparent;
}

@media only screen and (max-device-width: 425px) {
    #content .titleBox {
        right: 0;
        margin-top: auto;
        background-color: rgb(255, 255, 255, 0.6);
    }

    .titleBox>ul>li {
        border-color: transparent;
    }

    /* 浮动导航向下div */
    .titleBox>ul>li:last-child {
        border-color: transparent;
    }
}

/* 浮动标题 */
#artiSelection {
    position: fixed;
    right: 110px;
    margin-top: 151px;
    border: 1px solid grey;
    padding: 15px;
    background-color: white;
    visibility: hidden;
    cursor: pointer;
    box-sizing: border-box;
}

@media only screen and (max-width: 850px) {
    #artiSelection {
        right: 50px;
    }
}

@media only screen and (max-device-width: 425px) {
    #artiSelection {
        height: auto;
        right: 20%;
        margin: auto;
    }
}

#artiSelection>ul>li {
    color: #666666;
}

#artiSelection>ul>li:hover {
    color: #1989C0;
}

#bottom {
    height: 80px;
}

.line {
    height: 30px;
    border-top: 1px solid #e8e8e8;
}

.textBox {
    line-height: 1.7;
    font-weight: 400;
    color: #606060;
    text-align: justify;
}

.title {
    margin-top: 50px;
}

.time {
    text-align: right;
}