#middle {
    margin: 0 auto;
    height: 30px;
    width: 98%;
    background-color: #eeeeee;
}

#middle .midLeft {
    float: left;
    margin-left: 6px;
    margin-top: 5px;
    font-size: 12px;
}

.midLeft .deliverTo {
    color: grey;
}

.midLeft select {
    margin-right: 10px;
}

.midLeft .checkBox {
    font-weight: bold;
}

#middle .midRight {
    float: right;
    margin-right: 6px;
    margin-top: 5px;
}

.midRight .search {
    height: 19px;
    border: solid 1px grey;
}

.midRight .confirm {
    margin-left: -1px;
    border: solid 1px grey;
    padding: 2px 10px;
    font-size: 13px;
}