#middle {
    margin: 0 auto;
    height: 30px;
    width: 98%;
    background-color: #eeeeee;
}

.midLeft {
    float: left;
    margin-left: 6px;
    margin-top: 5px;
    font-size: 12px;
}

.midRight {
    float: right;
    margin-right: 6px;
    margin-top: 5px;
}

.deliverTo {
    color: grey;
}

.search {
    height: 19px;
    border: solid 1px grey;
}

.confirm {
    margin-left: -1px;
    padding: 2px 10px;
    border: solid 1px grey;
    font-size: 13px;
}

.checkBox {
    font-weight: bold;
}