/* 多语介绍 */
#myLanguage>div {
    position: absolute;
    left: 23%;
    margin-top: 6%;
    color: #666666;
    text-align: right;
    opacity: 0;
    z-index: -1;
}

#myLanguage>div>img {
    width: 55%;
}

/* 多语出现动画 */
#myLanguage .lan {
    opacity: 1;
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -ms-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

/* 浮动文本 */
#floatText {
    position: absolute;
    top: 0.3%;
    left: 30%;
    text-align: center;
    font-size: 1.1rem;
    color: #1989C0;
}

/* 多语标题 */
.floatTitle {
    position: absolute;
    top: 22rem;
    left: 3%;
    font-size: 2.3rem;
    color: #5e6073;
}

@keyframes ftHiddenFrames {
    0% {
        left: 0;
    }

    100% {
        left: -80%;
    }
}

@keyframes ftDisplayFrames {
    0% {
        left: -80%;
    }

    100% {
        left: 0;
    }
}

.ftHidden {
    animation-name: ftHiddenFrames;
    animation-timing-function: ease;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.ftDisplay {
    animation-name: ftDisplayFrames;
    animation-timing-function: ease;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/* 多语标题小化 */
.floatTitleMin {
    width: auto;
    position: absolute;
    margin-top: 52.6%;
    left: -80%;
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: #bbbbbb;
    font-size: 1.6rem;
    color: white;
    z-index: 1;
}

.floatTitleMin>li {
    width: 4rem;
    float: left;
    text-align: center;
}

.floatTitle>li {
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.floatTitle>li:hover {
    border-bottom: 2px solid #1989C0;
}

.floatTitleMin>li:hover {
    color: #1989C0;
}

.floatTitle .floatTitleAni {
    border-bottom: 2px solid #1989C0;
    color: #1989C0;
}

@keyframes scaleAniFrames {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
    }
}

.floatTextAni {
    animation-name: scaleAniFrames;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}